## pandas in action

In [10]:
import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')
# 1.see first 5 entries
# chipo.head(5)
# 2.number of observation in the set..
# chipo.shape
# chipo.info()
#  3. print name of columns
# chipo.columns
#  4. dataset indexed
# chipo.index

### most ordered food item

In [17]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### most ordered food from choice_description

In [16]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

In [18]:
total_items_orered=chipo.quantity.sum()
total_items_orered

4972

In [19]:
chipo.item_price.dtype

dtype('O')

In [20]:
dollarizer=lambda x: float(x[1:-1])
chipo.item_price=chipo.item_price.apply(dollarizer)

In [21]:
chipo.item_price.dtype

dtype('float64')

### How much was the revenue for the period in the dataset?

In [22]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### How many orders were made in the period?

In [23]:
orders = chipo.order_id.value_counts().count()
orders

1834

### What is the average revenue amount per order?

In [26]:
# chipo['revenue'] = chipo['quantity'] * chipo['item_price']
# order_grouped = chipo.groupby(by=['order_id']).sum()
# order_grouped.mean()['revenue']

In [28]:
# chipo.groupby(by=['order_id']).sum().mean()['revenue']

### How many different items are sold?

In [29]:
chipo.item_name.value_counts().count()

50